::-webkit-scrollbar {
    width: 7px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: var(--shadow-color);
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: var(--accent-color);
  }
  
  @keyframes btn-hover {
    0% {
      transform: translateY(7px);
    }
  
    50% {
      transform: translateY(-7px);
    }
  
    100% {
      transform: translateY(7px);
    }
  }
  
  @keyframes show {
    0% {
      opacity: 0;
      transform: translateY(40%);
    }
  
    50% {
      opacity: 0.5;
      transform: translateY(20%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }